
html{
    font-size: 20px;
}
body{
    padding: 0;
    margin: 0;
    /* background-color: #99CCFF; */
    overflow-y: hidden; 
    overflow-x: hidden;
    font-family: 'Sono', sans-serif;
    height: 100%;
}
nav{
    background-color: #5c7c9c;
    width: 350px;
    height: 680px;
    font-family: 'Sono', sans-serif;
}
nav hr{
    border-radius: 50%;
    width: 250px;
    margin-left: 8px;
    opacity: 0.1px;
    height: 1px;
}
nav img{
    height: 100px;
    margin-top: 20px;
}
nav ul li{
    list-style: none;
    padding-top: 20px;
    margin-left: 8px;
    font-family: 'Sono', sans-serif;
}
nav ul li button{
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    transition:  0.5s ease-in;
    color: white;
    font-family: 'Sono', sans-serif;
    font-weight: 750;
}
nav ul li button:hover{
    cursor: pointer;
    transform: translateX(40px);
    transition:  0.5s ease-in;
    color: #FF2400;
}
.fa{
    color: #FF2400;
}
.dev{
    margin-left: 35px;
    margin-top: 35px;
    font-size: 15px;
    color: white;
}
.copy{
    margin-left: 35px;
    margin-top: 50px;
}
.main{
    display: flex;
}

.main2 img{
    height: 300px;
    margin-top: 130px;
    margin-left: 350px; 
}
.main2 h1{
    margin-left: 340px;
    color: #5c7c9c;
    font-size: 40px;
}
.main2 p{
    margin-left: 380px;
    color: #5c7c9c;
    font-size: 25px;
    margin-top: -15px;
}
.about{
    position: absolute;
    background-color: #bb9cfa;
    width: 880px;
    margin-left: 410px;
    border-radius: 20px;
    margin-top: -655px;
    height: 590px;
    z-index: 10;
}
.about h1{
    text-align: center;
    font-size: 30px;
}
.about p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.close-about{
    position: absolute;
    margin-left: 95%;
    margin-top: 2px;
    background-color: transparent;
    border-style: none;
    font-size: 45px;
}
.close-about:hover{
    cursor: pointer;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 680px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    z-index: 5;
}
.hidden{
    display: none;
}
.f1-img{
    display: flex;
    padding: 10px;
}
.gip1{
    height: 150px;
}
.projects{
    position: absolute;
    background-color: #bb9cfa;
    width: 880px;
    margin-left: 410px;
    border-radius: 20px;
    margin-top: -630px;
    height: 500px;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.projects h1{
    font-size: 40px;
}
.p-img{
    height: 150px;
    transition: all 0.7s ease-in-out;
    border-radius: 20px;
}
.p-img:hover{
    cursor: pointer;
    -webkit-filter: brightness(80%);
    transition: all 0.7s ease-in-out;
}
.project-ss1{
    display: inline-flex;
}
.project1{
    margin-right: 20px;
    /* border-radius: 10px; */
}
.project2{
    margin-right: 10px;
}
.close-projects{
    position: absolute;
    margin-left: 390px;
    margin-top: 2px;
    background-color: transparent;
    border-style: none;
    font-size: 45px;
}
.close-projects:hover{
    cursor: pointer;
}
.contact{
    position: absolute;
    display: flex;
    border-radius: 200px;
    margin-left: 450px;
    margin-top: -600px;
    height: 500px;
    z-index: 10;
}
.contact-1{
    background-color: #5c7c9c ;
    width: 400px;
    color: white;
    border-radius: 10% 0% 0% 10%;
}
.contact-1 h1 {
    margin-left: 20px;
    font-size: 25px;
    margin-top: 50px;
}
.contact-1 p{
    margin-left: 20px;
    /* font-size: 15px; */
}
.contact-1 h2{
    margin-top: 30px;
    margin-left: 20px;
}

/*Abhi chera mene ye */ 

.contact-2{
    background-color: #bb9cfa;
    width: 400px;
    border-radius: 0% 10% 10% 0%;
    /* height: 450px; */
}
.contact-2 h1{
    margin-left: 20px;
    font-size: 30px;
    margin-top: 50px;
    color: #fff;
} 
.contact-2 form{
    margin-left: 20px;
}
.contact-2 form input{
    border-radius: 20px;
    border: 2px solid white;
    width: 300px;
    height: 30px;
}
.contact-2 form input:focus{
    border: 2px solid white;
    outline: none;
}
.contact-2 form input{
    font-size: 15px;
    font-family: 'Sono', sans-serif;
    background-color: transparent;
    color: white;
}
.contact-2 form input::placeholder{
    color: white;
}
.contact-2 form input[type=submit]{
    background-color: #fff;
    outline: none;
    color: #222;
    border: none;
    font-size: 20px;
    transition: .2s ease-in-out 0s;
}
.contact-2 form input[type=submit]:hover{
    cursor: pointer;
    
    transform: scale(1.02);
}
.close-contacts{
    height: 20px;
    position: absolute;
    margin-left: 350px;
    margin-top: 20px;
    background-color: transparent;
    border-style: none;
    font-size: 35px;
}
.close-contacts:hover{
    cursor: pointer;
}

.contact-2 form textarea{
    border-radius: 20px;
    width: 300px;
    height: 60px;
    border: 2px solid white;
    font-size: 15px;
    font-family: 'Sono', sans-serif;
    background-color: transparent;
    color: white;
}
.contact-2 form textarea::placeholder{
    color: white;
}
.contact-2 form textarea:focus{
    outline: none;
}
.list1{
    list-style: none;
    padding-left: 10px;
}
.list1 li{
    margin: 15px;
}
.list2{
    display: flex;
    list-style: none;
    padding-left: 20px;
}
.list3{
    display: flex;
    list-style: none;
    display: none;
}
.list3 li{
    margin: 10px;
}
.list2 li{
    margin: 10px;
}
.hidden1{
    display: none;
}
.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    z-index: 5;
}
.con-phone{
    display: none;
}
.con-phone ul li{
    margin: 25px;
}
.con-phone ul li:hover{
    cursor: pointer;
}
.mail-list{
    list-style: none;
}
.mail-list a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 360px) {
    body{
        overflow-x: hidden;
    }
    nav{
        width: 50px;
    }
    nav span{
        display: none;
    }
    nav ul li button:hover{
        transform: translateX(0);
    }
    nav ul li{
        margin-top: 50px;
    }
    nav hr{
        display: none;
    }
    nav img{
        height: 20px;
    }
    nav ul{
        margin-left: -40px;
    }
    .copy{
        display: none;
    }
    .dev{
        display: none;
    }
    .main{
        display: flex;
    }
    .main2 img{
        margin-left: 35px;
        height: 200px;
    }
    .main2 h1{
        margin-left: 15px;
        font-size: 25px
    }
    .main2 p{
        margin-left: 40px;
        font-size: 15px;
    }
    .list3{
        display: flex;
    }
    .about{
        position: absolute;
        width: 300px;
        margin-left: 10px;
        height: 650px;
    }
    .about p{
        font-size: 15px;
        line-height: 28px;
    }
    .gip1{
        display: none;
    }
    .close-about{
        margin-left: 250px;
        margin-top: -10px;
    }
    .projects{
        width: 320px;
        margin-left: 10px;
    }
    .project-ss1{
        display: block;
    }
    .close-projects{
        margin-left: 110px;
    }
    .contact{
        width: 380px;
        margin-left: 10px;
    }
    .contact-1{
        display: none;
    }
    .contact-2{
        border-radius: 20px;
        width: 300px;
    }
    .contact-2 form input{
        width: 250px;
    }
    .list2{
        padding-left: 5px;
    }
    .contact-2 form textarea{
        width: 250px;
    }
    .con-phone{
        display: block;
    }
}
@media (min-width: 360px) and (max-width: 576px){
    body{
        overflow-x: hidden;
    }
    nav{
        width: 50px;
    }
    nav span{
        display: none;
    }
    nav ul li button:hover{
        transform: translateX(0);
    }
    nav ul li{
        margin-top: 50px;
    }
    nav hr{
        display: none;
    }
    nav img{
        height: 20px;
    }
    nav ul{
        margin-left: -40px;
    }
    .copy{
        display: none;
    }
    .dev{
        display: none;
    }
    .main{
        display: flex;
    }
    .main2 img{
        margin-left: 65px;
        height: 250px;
    }
    .main2 h1{
        margin-left: 45px;
        font-size: 35px
    }
    .main2 p{
        margin-left: 50px;
        font-size: 25px;
    }
    .list3{
        display: flex;
        margin-left: 40px;
    }
    .list3 li{
        margin: 20px;
    }
    .about{
        position: absolute;
        width: 400px;
        margin-left: 30px;
        height: 650px;
    }
    .about p{
        font-size: 18px;
        line-height: 28px;
    }
    .gip1{
        display: none;
    }
    .close-about{
        margin-left: 350px;
        margin-top: -10px;
    }
    .projects{
        width: 400px;
        margin-left: 30px;
    }
    .project-ss1{
        display: block;
    }
    .close-projects{
        margin-left: 150px;
    }
    .contact{
        width: 380px;
        margin-left: 10px;
    }
    .contact-1{
        display: none;
    }
    .contact-2{
        border-radius: 20px;
        width: 300px;
    }
    .contact-2 form input{
        width: 250px;
    }
    .list2{
        padding-left: 5px;
    }
    .contact-2 form textarea{
        width: 250px;
    }
    .con-phone{
        display: block;
    }
}
